{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/form.css" />
{% endblock %}

{% block content %}
{% if error_msg %}
<div class="error">
  {{ error_msg }}
</div>
{% endif %}

<form class="login_form" method="POST" action="/login">
    <h2>Login</h2>
    <label>Email: <input type="email" name="email" /></label>
    <label>Password: <input type="password" name="password" /></label>
    <label>Remember me: <input type="checkbox" name="remember_me" /></label>
    <input type="submit" name="" value="Send" />
</form>
{% endblock %}